body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(img/icons_game/desert3.jpg);
    /* img/5_background/first_half_background.png */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Chango', sans-serif;
    color: rgb(59,83,53);
    overflow: hidden;

}

h1{
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin: 1rem;
    text-shadow: 2px 4px 2px rgb(118 161 118);
   
}

canvas{
    background-color: black;
    display: block !important;
    width: 100%;
    height: 100%;
}

.border-radius {
    border-radius: 16px;
}

#content {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

/* s */

#first-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#first-screen img {
    width: 100%;
    height: 100%;
}

.play-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 370px;
    z-index: 2
}

.question-button{
    position: absolute;
    left: 78%;
    transform: translateX(-50%);
    bottom: 390px;
    z-index: 2;
}

.full-screen-button{
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    bottom: 390px;
    z-index: 2;
}

.button:hover {
  cursor: pointer; 
}

.button{
    height: 80px !important;
    animation: pulse 1.5s ease-in-out infinite;
}

.additional{
    height: 50px !important;
}

.game{
    height: 35px !important;
    animation: none !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
 }

 .d-none{
    display: none !important;
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(247,199,75);
    border-radius: 1rem;
    /* border: 3px solid black; */
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 99;

}

.keys{
    display: flex;
    /* margin-top: -3.5rem; */
    justify-content: space-around;
    align-items: center;
}

.key img{
    margin-bottom: 0.5rem;
    height: 3.5rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.1rem;
}

.close-key img{
    margin-bottom: 0rem;
    height: 3.5rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
}

.close-key :hover{
    cursor: pointer;
}

.game-question-button {
    position: absolute;
    top: 3rem;
    right: 8rem;
    transition: 125ms ease-in-out;
}

.game-sound-button {
    position: absolute;
    top: 3rem;
    right: 12rem;
    transition: 125ms ease-in-out;
}

.game-full-screen-button {
    position: absolute;
    top: 3rem;
    right: 4rem;
    transition: 125ms ease-in-out;
    z-index: 2;
}

#mobile-button-left {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
}

#mobile-button-right {
    position: absolute;
    bottom: 1rem;
    left: 12rem;
}

#mobile-button-jump {
    position: absolute;
    bottom: 1rem;
    left: 24rem;
}

#mobile-button-bottle {
    position: absolute;
    bottom: 1rem;
    left: 38rem;
}

.mobile-button img{  
    height: 3.5rem;
    opacity: 0.7;
}

.game-over-screen img,
.game-win-screen img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.restart{
    animation: pulse 1.5s ease-in-out infinite;
}

.restart :hover{
    cursor: pointer;
}

.restart img{
    position: absolute;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
   /*  z-index: 2; */
}

@media only screen and (max-width: 932px) and (orientation: landscape){
    #mobile-buttons {
        display: block;
    }
}

/* Smartphones ------------------- */

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }

    h1{
        font-size: 3rem;
        letter-spacing: 0.3rem;
        align-items: center;
    }
}

/* Smartphones ------------------- */

@media only screen and (max-height: 590px){
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }

    .pop-up{
        width: 100%;
    
    }
      

}

@media only screen and (max-height: 470px){

    .play-button {
        bottom: 360px;
    }

    .full-screen-button {
        bottom: 384px;
    }

    .question-button {
        bottom: 384px;
    }
}

@media only screen and (max-height: 460px){

.mobile-button {
    height: 3rem !important;
    bottom: 2rem !important;
}

#mobile-button-bottle{
    left: 33.5rem !important;
}
}


@media only screen and (max-height: 450px){

    .play-button {
        bottom: 344px;
    }

    .full-screen-button {
        bottom: 358px;
    }

    .question-button {
        bottom: 358px;
    }

    .button {
        height: 65px;
    }
}

@media only screen and (max-height: 435px){

    .play-button {
        bottom: 328px;
    }

    .full-screen-button {
        bottom: 334px;
    }

    .question-button {
        bottom: 334px;
    }

    .button {
        height: 65px !important;
    }

    .additional {
        height: 50px !important;
    }

    .game{
        height: 35px !important;
    }

    .mobile-button {
        height: 2rem !important;
    }

    .additional {
        height: 45px !important;
    }

}

@media only screen and (max-height: 410px){

    .play-button {
        bottom: 312px;
    }

    .full-screen-button {
        bottom: 318px;
    }

    .question-button {
        bottom: 318px;
    }

    #mobile-button-bottle{
        left: 29.5rem !important;
    }

    #mobile-button-jump{
        left: 20rem !important;
    }

}

@media only screen and (max-height: 385px){

    .play-button {
        bottom: 286px;
    }

    .full-screen-button {
        bottom: 292px;
    }

    .question-button {
        bottom: 292px;
    }

    #full-info {
        display: none;
    }
}

@media only screen and (max-height: 360px){

    .play-button {
        bottom: 36px;
    }

    .additional {
        height: 30px !important;
    }

    .full-screen-button {
        bottom: 270px;
    }

    .question-button {
        bottom: 270px;
    }

    #mobile-button-bottle{
        left: 25.5rem !important;
    }

    #mobile-button-left {
        left: 3rem !important;
    }

    #mobile-button-right {
        left: 10rem !important;
    }

    .mobile-button img {
        height: 3rem;
    }

    .mobile-button {
        height: 1.5rem !important;
    }
}

@media only screen and (max-height: 320px){

    .full-screen-button {
        bottom: 238px;
    }

    .question-button {
        bottom: 238px;
    }

    #mobile-button-bottle{
        left: 22.5rem !important;
    }

    #mobile-button-jump{
        left: 15.5rem !important;
    }

    .mobile-button img {
        height: 2.5rem;
    }

    .mobile-button {
    height: 1.1rem !important;
  
}

.key img {
  
    height: 2rem;
  
}

.keys {
    padding: 0;
}

}



